#%RAML 1.0
---

title: Mobile Tax Credits Renewal
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/mobile-tax-credits-renewal:
  /declarations:
    /{nino}:
      uriParameters:
        nino:
          description: The NINO for the individual.
          type: string
          example: NS123456B
      post:
        displayName: Submit renewal
        description: This endpoint submits a renewal.
        is: [headers.acceptHeader]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        queryParameters:
          journeyId:
            type: string
            required: false
        responses:
          200:
  /renewals:
    /{nino}:
      uriParameters:
        nino:
          description: The NINO for the individual.
          type: string
          example: NS123456B
      get:
        displayName: Get renewals details
        description: This endpoint retrieves the renewals.
        is: [headers.acceptHeader]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        queryParameters:
          journeyId:
            type: string
            required: false
        responses:
          200:
            body:
              application/json:
                examples:
                  example-1:
                    value: !include examples/renewals-open-example.json
                  example-2:
                    value: !include examples/renewals-response-check-status-only-example.json
                  example-3:
                    value: !include examples/renewals-closed-example.json
  /income:
    /tax-credits:
      /submission:
        /state:
          get:
            displayName: Get tax credits submission state
            description: This endpoint retrieves the current state of tax credit submissions
            is: [headers.acceptHeader]
            (annotations.scope): "read:native-apps-api-orchestration"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
            queryParameters:
              journeyId:
                type: string
                required: false
            responses:
              200:
                body:
                  application/json:
                    examples:
                      example-1:
                        value: !include examples/get-tax-credits-submission-state-example-1.json
          /enabled:
            get:
              displayName: Get tax credits submission state enabled
              description: This endpoint retrieves the current state of tax credit submissions
              is: [headers.acceptHeader]
              (annotations.scope): "read:native-apps-api-orchestration"
              securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
              queryParameters:
                journeyId:
                  type: string
                  required: false
              responses:
                200:
                  body:
                    application/json:
                      examples:
                        example-1:
                          value: !include examples/get-tax-credits-submission-state-enabled-example-1.json
    /{nino}:
      uriParameters:
        nino:
          description: The NINO for the individual.
          type: string
          example: NS123456B
      /tax-credits:
        /{renewalReference}:
          uriParameters:
            renewalReference:
              type: string
          /auth:
            get:
              displayName: Get auth token
              description: This endpoint retrieves the auth token and validates the nino and tax reference number.
              is: [headers.acceptHeader]
              (annotations.scope): "read:native-apps-api-orchestration"
              securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
              queryParameters:
                journeyId:
                  type: string
                  required: false
              responses:
                200:
                  body:
                    application/json:
                      examples:
                        example-1:
                          value: !include examples/get-auth-token-example-1.json
        /claimant-details:
          get:
            displayName: Get claiment details
            description: This endpoint retrieves the claiment details.
            is: [headers.acceptHeader]
            (annotations.scope): "read:native-apps-api-orchestration"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
            queryParameters:
              journeyId:
                type: string
                required: false
              claims:
                type: string
                required: false
            responses:
              200:
                body:
                  application/json:
                    examples:
                      example-1:
                        value: !include examples/get-claiment-details-example-1.json
        /full-claimant-details:
          get:
            displayName: Get full claiment details
            description: This endpoint retrieves the full claiment details.
            is: [headers.acceptHeader]
            (annotations.scope): "read:native-apps-api-orchestration"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
            queryParameters:
              journeyId:
                type: string
                required: false
            responses:
              200:
                body:
                  application/json:
                    examples:
                      example-1:
                        value: !include examples/get-full-claiment-details-example-1.json
        /renewal:
          post:
            displayName: Submit renewal
            description: This endpoint submits a renewal.
            is: [headers.acceptHeader]
            (annotations.scope): "read:native-apps-api-orchestration"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
            queryParameters:
              journeyId:
                type: string
                required: false
            responses:
              200:
                body:
                  application/json:
                    examples:
                      example-1:
                        value: !include examples/submit-renewal-example-1.json
